* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
.active{
    color: #8000ff !important;
    
}
#navbar {
    background-color: rgba(255, 127, 80, 0.37);
    height: 7vh;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    width: 20%;
    height: 7vh;
    object-fit: contain;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.navbar-flex {
    display: flex;

}

.navbar-list {
    display: flex;
    width: 80%;
    font-size: 1.7rem;
    justify-content: end;
    gap: 3rem;
    align-items: center;
}

.navbar-list li {
    list-style: none;
}

.navbar-list li a {
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

.navbar-list li a:hover {
    color: #8000ff;
}

.navbar-list li i {
    padding: 0px 10px;
}

.navbar-list-child {
    position: absolute;
    background-color: coral;
    margin-left: 2rem;
    padding-top: 1rem;
color: white;
    display: none;
}

.navbar-list-child li {
    padding: 10px;

}

.navbar-list-child li:hover {
    background-color: #8000ff;
    color: white;
}

.navbar-list-item:hover .navbar-list-child {
    display: block;
}


.section-footer{
    height: 300px;
    background-color:#333;
}
.title{
    color: white;
}
.footer-all{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.menyu p , .internet p{
    padding: 3px;
    color: white;
}
.menyu p i, .internet p i{
    padding-right: 6px;
}
.va-nihoyat{
    color: white;
    text-align: center;
    padding-top:100px;
}
.internet{
    display: flex;
    justify-content: space-evenly;
    gap: 13px;
}
.footer-img{
    margin-left: -2rem;
    margin-top: -2rem;
}