<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="fontawesome-free-6.6.0-web/css/all.css">
</head>

<body>
    <!-- navbar -->
    <nav id="navbar">
        <div class="container navbar-flex">
            <img src="../media/logo.png" alt="logo" class="logo">
            <ul class="navbar-list">
                <li> <a href="../index.html"> <i class="fas fa-home"></i>home</a></li>
                <li class="navbar-list-item"> <a href="" class="active"> <i class="fa solid fa-bowl-food"></i>product <i
                            class="fa-solid fa-caret-up shape"></i>
                        <ul class="navbar-list-child">
                            <li><a href="ice-crem.html"><i class="fa-solid fa-ice-cream"></i>ice-cream</a></li>
                            <li><a href="chocalate.html"><i class="fa-solid fa-cookie"></i>chocalate</a></li>
                            <li><a href="drinkl.html" class="active"><i class="fa-solid fa-bottle-water"></i>drink</a></li>
                        </ul>
                    </a></li>
                <li> <a href="basket.html"> <i class="fa-solid fa-cart-shopping"></i>basket</a></li>
                <li> <a href="about.html"> <i class="fa-regular fa-address-card"></i>about</a></li>
            </ul>
        </div>
    </nav>

    <!-- icecream-product  -->

    <div class="product">
       
           

   </div>

    <!-- footer  -->
    <section class="section-footer">
        <div class="footer-all">
            <div class="footer-img">
                <img src="media/logo.png" alt="">
                <p class="title">Bizning do'kon:Muzqaymoq,Shokolad va ichimliklar</p>
            </div>
            <div class="menyu">
                <p><i class="fa fa-home"></i>Bosh sahifa</p>
                <p><i class="fa fa-bars"></i>Menyu</p>
                <p><i class="fa fa-id-card"></i>Biz haqimizda</p>
                <p><i class="fa fa-phone"></i>Aloqa</p>
            </div>
            <div class="internet">
                <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i class="fa-brands fa-twitter"></i>Twitter</p>
            </div>
        </div>
        <p class="va-nihoyat">&copy 2024 Muzqaymoqq & Skokalad .Barcha huquqlar himoyalangan</p>
    </section>


    <script src="../script/drink.js"></script>
    <script src="../script/count.js"></script>

</body>

</html>